// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
    --ion-color-primary: #1EEA00;
    --ion-text-primary: #004B40;

    --ion-color-secondary: #004B40;
    --ion-text-secondary: #FFFFFF;

    --ion-color-tertiary: #1EEA004D;
    --ion-text-tertiary: #FFFFFF;

    --ion-color-light: #FFFFFF;
    --ion-text-light: #000000;

    --ion-color-dark: #000000;
    --ion-text-dark: #FFFFFF;

    --ion-color-medium: #999999;
    --ion-color-disabled: #eeeeee;
}
