<ion-content [fullscreen]="true" color="light">
  <ion-card >
    <ion-card-header >
      <ion-img src="assets/img/logo.svg" class="logo"></ion-img>
      <ion-card-subtitle>la alcancía que siempre<br>te acompaña</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-button routerLink="/register" expand="block" fill="solid" shape="round" class="register">
        registrate
      </ion-button>

      <ion-button expand="block" fill="solid" shape="round" class="login">
        ingresa
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
